@{
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to My Portfolio</h1>
    <p class="lead">I'm <b>Vaibhavi Pasalkar</b>, a passionate developer. Explore my work and skills!</p>

    <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="About">Learn More</a>

    <!-- Animated SVG Image -->
    <div class="mt-4">
        <img src="coding-freak.gif"
             alt="Developer Animation"
             class="img-fluid"
             style="max-width: 400px; height: auto;">
    </div>
</div>
