@{
    ViewData["Title"] = "Tech Skills";
}

<div class="container mt-5 mt-5">
    <h1 class="text-primary text-center">My Tech Skills</h1>

    <div class="table-responsive">
        <table class="table table-bordered table-striped tech-table">
            <thead class="table-dark">
                <tr>
                    <th>Category</th>
                    <th>Skills</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Programming Languages</td>
                    <td>C, Java, Python, SQL</td>
                </tr>
                <tr>
                    <td>Libraries/Frameworks</td>
                    <td>JavaScript, React, Spring Boot</td>
                </tr>
                <tr>
                    <td>Tools / Platforms</td>
                    <td>Git, VS Code</td>
                </tr>
                <tr>
                    <td>Databases</td>
                    <td>PostgreSQL, MySQL, MongoDB</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
